*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* feature section */
.small-circle{
    height: 5rem;
    width: 5rem;
    border-radius:50% ;
    background-color: white;
    margin: auto;
    box-shadow: 0 30px 40px 0 rgb(31 45 61 / 10%);
}
.large-circle{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: white; 
    margin: auto;
    box-shadow: 0 30px 40px 0 rgb(31 45 61 / 10%);
}
.floating-icon-sm{
    animation: floating 6s ease infinite;
}
.floating-icon-lg{
    animation: floating 4s ease infinite;
}
@keyframes floating{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}
/* feature section end */
/* .footer{
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #6e00ff;
    background:linear-gradient(50deg, #6e00ff 0, #bb00ff 100%) ;
  } */

.footer-main{
    margin-top: 1000px;
    position: relative;
    /* height: 300px; */
    background-color: #510FA8;
    clip-path: polygon(31% 10%, 95% 36%, 100% 100%, 0 100%, 0 70%);
}
.footer-main::before{
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: -4;
    z-index: -100;
    clip-path: polygon(31% 10%, 95% 36%, 100% 100%, 0 100%, 0 70%); 
} 
.feature-section{
    background-color: #510FA8;
}
.icon {
    min-width: 3rem;
    min-height: 3rem;
    line-height: 3rem;
}
.card-left-section{
    background-color: #273444;
}
.card-right-section{
    background-color: #510FA8;
}